:root {
    --primary-color: rgba(210, 39, 122, 0.8);
    --text-accent: #FF008E;
    --text-font: 'Barlow Condensed', sans-serif font-weight: 200;
    --title-font: 'Nanum Gothic', sans-serif;
    --box-shadow: 4px 3px #ff008c51;
}

h1{
    font-family: var(--title-font);
    color: var(--text-accent);
    font-size: 48px;
    font-weight: 400;
    margin: 0px 20px;
    padding: 10px;
}

h2{
    font-family: var(--text-font);
    font-size: 38px;
    font-weight: 200;
}

p{
    font-family: var(--text-font);
    font-weight: 200;
}

a:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.homepage-hero{
    box-shadow: var(--box-shadow);
    max-width: 98%;
    margin-top: 40px;
    padding: 160px 40px;
    border: 1px solid var(--primary-color);
}

.introduction{
    box-shadow: var(--box-shadow);
    max-width: 50%;
    margin: 0 auto;
    border: 1px solid var(--primary-color);
}

.intro-pic {
    padding: 10px;
    border: 0.5px solid #d2277ac5;
    box-shadow: var(--box-shadow);
}

.navbar a{
    color: var(--text-accent) !important; 
    font-family: var(--title-font);
    font-weight: 300;
}

.subtitle{
    font-family: var(--title-font);
    color: var(--text-accent);
    font-size: 38px;
    font-weight: 400;
    margin: 0px 20px;
    padding: 10px;
}

.link{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 5px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}

.btn:hover{
    background-color: var(--primary-color);
}

.projects{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly !important;
}

.card{
    max-width: 350px;
    padding: 5px;
    border: 1px solid var(--text-accent);
    box-shadow: var(--box-shadow);
}

.card-title{
    font-family: var(--title-font);
    color: var(--text-accent);
    font-size: 26px;
    font-weight: 300;
    margin: 0px 20px;
    padding: 5px;
}

.card-img-top{
    max-height: 300px !important;
}

@media(max-width:577px){
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }

    .homepage-hero{
        padding: 80px 20px;
    }

    .introduction{
        max-width: 90%;
    }

    .subtitle{
        font-size: 32px;
    }

    .link{
        display: flex;
        justify-content: space-evenly;
        font-size: 12px;
        padding: 5px;
    }

    .card{
        margin: 8px;
    }

    .card-title{
        font-size: 22px;
    }

    p{
        font-size: 14px;
    }
}